.loadingWrapper {
  margin: 60px; }

.dataWrapper {
  margin: 15px 0  20px 0;
  padding: 20px;
  float: left;
  width: 1320px;
  overflow-y: auto;
  height: 570px;
  overflow-x: hidden; }
  .dataWrapper button {
    margin-top: -55px;
    margin-left: 150px;
    float: right;
    z-index: 1;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer; }
  .dataWrapper .dataContainer {
    margin-top: 15px; }
